################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/OriDETAS/v14
/obj
/OriDETAS.csproj.user
